@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

.mainContainer {
    background-color: #14181C;
    height: auto;
}

.posterContainer {
    background-size: cover;
    border-radius: 50px;
    width: 60%;
    height: 490px;
    margin: auto;
}

.mainContainer2 {
    background-color: #14181C;
    display: flex;
    justify-content: center;
    height: auto;
}

.movieReviewContainer {
    /*background-color: #ff1616;*/
    margin-top: -50px;
    width: 60%;
    height: auto;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas:
    "poster title title"
    "poster content score"
    "poster content score";
}

.movieReviewTitle {
    /*background-color: white;*/
    color: white;
    grid-area: title;
    height: 60px;
}

.directedBy {
    font-size: 20px !important;
}

.movieReviewTitle span:nth-child(1) {
    font-size: 30px;
}

.movieReviewTitle span:nth-child(2) {
    font-size: 12px;
}

.movingPoster {
    /*background-color: #ec7070;*/
    position:absolute;
    grid-area: poster;
}

.posterBox {
    text-align: center;
    margin-left: 15px;
}

.posterBox img {
    width: 230px;
    height: 320px;
    border-radius: 7px;
    border: 1px #767681 solid;
    object-fit: cover;
}

.posterRanking {
    text-align: center;
    font-size: 12px;
    color: #93A0AE;
}

.fa-eye {
    color: #00C030;
}

.fa-crown {
    color: #E0C010;
}

.whereToWatch {
    /*background-color: darkblue;*/
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.watchTitle {
    background-color: #242C34;
    border: 1px #303840 solid;
    color: #93A0AE;
    border-radius: 3px;
    width: 230px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30px;
}

.watchTitle div:nth-child(1) {
    margin-left: 5px;
    margin-top: 7px;
    font-size: 12px;
}

.watchTitle div:nth-child(2) {
    margin-right: 5px;
    margin-top: 6px;
    text-align: right;
    font-size: 15px;
}

.watchTitle div:nth-child(3) {
    background-color: #14181C;
    border-top: 1px #303840 solid;
}

.watchTitle div:nth-child(4) {
    background-color: #14181C;
    border-top: 1px #303840 solid;
    padding: 10px;
}

.ottLogo {
    text-align: center;
    padding: 10px;
}

.ottLogo img {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    object-fit: cover;
}

.ottLogo a {
    text-decoration-line: none;
    color: #93A0AE !important;
}

.ottLogo a:hover {
    text-decoration-line: none;
    color: #484c54 !important;
}

.movieContent {
    /*background-color: brown;*/
    grid-area: content;
    height: auto;
}

.textContent {
    /*background-color: #fc0000;*/
    color: white;
    width: 90%;
    font-size: 15px;

    margin-bottom: 35px;
}

.castTitle {
    /*background-color: #0BAF2F;*/
    color: white;
    border-bottom: 1px #445566 solid;
    margin-bottom: 10px;
}

.castPicture {
    /*background-color: #E0C010;*/
    overflow: auto;
    white-space: nowrap;
    height: 220px;
    margin-top: 20px;
}

.castPicture::-webkit-scrollbar {
    width: 10px; /* 스크롤바의 너비 */
    height: 10px;

}

.castPicture::-webkit-scrollbar-thumb {
    height: 10px; /* 스크롤바의 길이 */
    background: #445566; /* 스크롤바의 색상 */
    border-radius: 10px;
}

.castPicture::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1); /*스크롤바 뒷 배경 색상*/
    border-radius: 10px;
}

.castItem {
    display: grid;
    grid-template-columns:
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%
            25% 25% 25% 25% 25%;
}

.castFace {
    height: 150px;
}

.castFace img {
    border: 1px #445566 solid;
    border-radius: 5px 5px 0 0;
    width: 130px;
    height: 150px;
    object-fit: cover;
}

.castName {
    /*background-color: #3d1c1c;*/
    width: 130px;
    height: 40px;
    border: 1px #445566 solid;
    border-radius: 0 0 5px 5px;
    text-align: center;
    display: grid;
    word-wrap: break-word;
    color: white;
}

.castName span:nth-child(1) {
    font-weight: bolder;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.castName span:nth-child(2) {
    font-size: 9px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.movieScoreField {
    /*background-color: #3976DC;*/
    grid-area: score;
    height: 440px;
    text-align: center;
}

.watch {
    background-color: #445566;
    font-size: 30px;
    color: #91A3AC;
    border-radius: 5px 5px 0 0;
    border: 1px #14181C solid;
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
}

.watch .fa-eye {
    color: #91A3AC;
}

.writeReview {
    background-color: #445566;
    color: #91A3AC;
    border-radius: 0 0 5px 5px;
    border-bottom: 1px #14181C solid;
    border-right: 1px #14181C solid;
    border-left: 1px #14181C solid;
    width: 80%;
    height: auto;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}

.reviewListContainer {
    background-color: #14181C;
    height: auto;
    margin-top: 50px;
}

.reviewItem {
    /*background-color: #00C030;*/
    width: 45%;
    margin-left: 665px;
}

.bestReviewContent, .reviewContent {
    /*background-color: white;*/
    width: 100%;
    height: 150px;
}
.reviewBox{
    color: #AABBCC;
    border-bottom: 1px #445566 solid;
    margin-bottom: 30px;
}
.nickNameBox :nth-child(1){
    color: #91A3AC;
    font-size: 14px;
    font-weight: lighter;
}
.nickNameBox :nth-child(2){
    font-size: 21px;
    font-weight: bold;

}
.nickNameBox :nth-child(3){
    color:#40BCF4 ;
    font-weight: bold;

}
.writeInfo{
    display: grid;
    grid-template-columns: 5% 80% 15%
}
.profileImage{
    width: 100%;
    height: 45px;
    border-radius: 50px;
}
.nickNameBox{
    margin-left: 15px;
}
.edit{
    text-align: right;
}
.edit span{
    cursor: pointer;
}
.reviewContents{
    margin-left: 55px;
    margin-bottom: 20px;
}
.reviewTitle span{
    font-size: 18px;
    font-weight: bold;
}
.reviewCont span{
    font-size: 14px;
}
.likesAndComment{
    display: grid;
    grid-template-columns: 90% 10%;
    margin-bottom: 10px;
}
.comment{
    text-align: right;
}
.fa-heart{
    margin-left: 55px;
    cursor: pointer;
}




